<!DOCTYPE html>
<html>
  <head>
    <title>UnifaTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.present? %>
      <div class="success"><%= flash[:success] %></div>
      <div class="errors"><%= flash[:error] %></div>
    <% end %>

    <% if !@errors&.empty? %>
      <div class="errors">
        <ul>
          <% @errors&.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
